.center{
max-width: 500;
margin: auto;
padding: 10px;
}

#dive {
    color: yellow;
    background-color: aqua;
    max-width: 90px;
    padding: 20px;
    border-radius: 10px;
}
.banner{
    margin-left: 5px;
}